@(title: String, description: String = "")(content: Html)

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="@description">
		<meta name="author" content="TLH Internet">

		<title>@title</title>
		<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.min.css")">

		<link rel="shortcut icon" type="image/png" href="">
			<!--[if IE]><link rel="shortcut icon" type="img/image/x-icon" href="" /><![endif]-->

			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script data-main="@routes.Assets.versioned("javascripts/main.js")" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
	</head>
	<body>
		@partials.nav()
		@content
		@partials.footer()
	</body>
</html>
